[submodule "deps/Sapphire"]
	path = deps/Sapphire
	url = https://github.com/SapphireServer/Sapphire.git
[submodule "src/editor/imgui"]
	path = src/editor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
